{% extends 'layout.html'%}

{% block content%}
        <section class="header">
            <h1>Travers Geoffray</h1>
            <p>Seeking a job as Python Developer</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="/static/images/TraversJazzfest.jpeg" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>From Piano to Programming</h2>
            <p>
               Until recently, my primary languages have been English and music.
               I started studying classical piano at the age of five. As I got older,
               I transitioned into jazz piano until I moved to New Orleans to master 
               the stylings of Dr. John and James Booker. 
            </p>
            <p>
              Between performing and being on the road, I found that I wanted to exercise
              my brain in my downtime (and make a little extra money too). A friend in music
              introduced to the world of web design and programming and I have been hooked ever since.
              I started my journey with HTML, CSS, and Javascript, and now continuing the challenge
              of exploring backend with Python.
            </p>
            <a href="https://docs.google.com/document/d/e/2PACX-1vTL-IyBzPwmFAr4N9TTsb4uW1tC5ESLHT_MSKxHO6cBk3HoyQHhoQ7Ts3y2RGaKniAaxPNugzHzGELL/pub"><i class="far fa-file"></i>Resume</a>
        </section>
 {% endblock %}
 